PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.45tva8u.mongodb.net/pixela?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key
REDIS_URI=redis://127.0.0.1:6379
GEMINI_API_KEY=your_gemini_api_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
